/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Left Column */
.left-column {
    width: 35%;
    padding-right: 20px;
    border-right: 2px solid #333;
}


.profile img {
    width: 100%;
    border-radius: 100%;
    margin-bottom: 20px;
}

.personal-info h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.personal-info p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Right Column */
.right-column {
    width: 70%;
    padding-left: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5rem;
    color: #333;
}

.header p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 5px;
}

/* Section Titles */
h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

/* Skills Section */
.skills ul {
    list-style: square inside;
    margin-left: 20px;
    margin-bottom: 20px;
}

.skills ul li {
    font-size: 1rem;
    margin-bottom: 8px;
}

/* Education Section */
.education table {
    width: 100%;
    border-collapse: collapse;
}

.education table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Work Experience Section */
.work-experience p {
    font-size: 1rem;
    margin-top: 10px;
}

/* Biography Section */
.biography p {
    margin-top: 10px;
    font-size: 1rem;
    text-align: justify;
}
.watermark {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.2); /* Warna hitam dengan transparansi 20% */
    z-index: 1000;
    font-weight: bold;
}


